button {
    border-radius: 40px;
    padding: 20px;
    margin: 0px 550px;
    background-color: white;
    border: 1px solid black;
    font-size: 15px;
    display: inline-flex;
    text-align: center;
}

.img-seta{
    height: 30px;
    margin: 0px 20px;
}

.img-face{
    height: 30px;
    margin: 0px 20px;
}