.App  {
  padding-top: 20px;
  flex-grow: 1;
  margin: 30px auto;
  width: 50% ;
  max-width: 50px;
  position: relative;

}


  .Foto1  {
  border-radius: 3px;
}



.logo {
  width: 10%;
  height: 10%;
  display: inline-flex;
  padding: 5px 20px 20px 5px;

}

.logo1{
  width: 10%;
  height: 10%;
  display: inline-flex;
  padding: 5px 10px 50px 5px;
}

.Foto1 .Foto-perfil {
  align-self: center;
}

.Foto1 .Foto-perfil-item{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  transform: translate(-6px, 5px);
  align-self: center;

}




