.App  {
  padding-top: 20px;
  flex-grow: 1;
  margin: 30px auto;
  width: 50% ;
  max-width: 50px;
  position: relative;

}


  .Foto1  {
  border-radius: 3px;
}

 .Perfil1{
  display: flex;
  flex-direction: row;
  height: 20px;
  padding:16px;

}

.logo {
  width: 10%;
  height: 10%;
  display: inline-flex;
  padding: 5px 20px 20px 5px;

}

.logo1{
  width: 10%;
  height: 10%;
  display: inline-flex;
  padding: 5px 10px 50px 5px;
}

.Foto1 .Foto-perfil {
  align-self: center;
}

.Foto1 .Foto-perfil-item{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  transform: translate(-6px, 5px);
}

span > img {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  flex: 0 0 auto;
  border-radius: 50%;
  display: block;
}

.Foto .Nome {
  margin-left: 7px;
  padding-left: 5px;
  font-weight: 200;
  color: brown;
}


div  .Foto-corpo-pg img{
  height: auto;
  width:600%;
}