# {
    box-sizing: border-box;
}

.cabecalho{
    background-color: chocolate;
    height: 50px;
    display: flex;

}

.logo {
    color: black;
    flex-basis: 20%;
    text-align: center;
    font-family: calibri;
    padding: 10px 0px 10px 0px;
    margin: 0px 50px 0px 5px;
}

.busca {
    display: block;
    padding: 10px 10px 10px 10px;
    margin: auto;
}

