
    <style>
    # {
        box-sizing: border-box;
    }

    body {
        margin: 0 auto;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    /* Barra de menu*/
    #menu ul {
        width: 100%;
        height: auto;
        padding: 10px 0px 10px 0px;
        margin: 0 0 0px 0 ;
        background-color: darkblue;
        list-style: none;
        
    }

    #menu ul li {
        display: inline;

    }

    #menu ul li a {
        padding: 10px 10px;
        display: inline-block;
        margin-left: 15px;
        background-color: white;
        color: black;
        text-decoration: none;
        border-radius: 3rem;
        border-bottom: 3px solid black;
    }

    #menu ul li a:hover {
        color: blue;
        border-radius: 0 solid;
    }

    /* Personalizar imagens*/

    .banner {
        font-family: Arial, Helvetica, sans-serif;
    }


    .banner_img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        object-fit: cover;
        padding: 0px 0px 40px 0px;
        max-width: 600px;
        max-height: 600px;
        margin-top: 40px;
        justify-content: space-around;
        
        font-family: Arial, Helvetica, sans-serif;
    }

     /* Corpo da pagina*/
    
        .sobre {
        background-color: white;
        margin: 0 auto;
        padding: 80px 10px 100px 10px;
        

    }

     /*Rodape*/
    footer {
        background-color:  darkblue;
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 14px;
        padding: 5px 0px 5px 5px;
        
    }

     /*Produtos - estoque*/
     .produtos {
        background-color: darkgrey;
        margin: 0 auto;
        text-align: center;
        padding: 10px 10px 10px 10px;
        display: inline-flex;
    }

    .produtos_item {
        font-family: Arial, Helvetica, sans-serif;
        display: inline-flex;
    }

    .moto,
    .iphone,
    .samsung {
        background-color: white;
        padding: 2rem 2rem 2rem 2rem;
        border-radius: 1rem;
        margin: 1rem 2rem 1rem 3rem;
        display: flex;
    }

    .estoque {
        background-color:  darkgrey;
        margin: 0 auto;
        text-align: left;
        padding: 10px 10px 10px 10px;
        
    }

    /*Botão - estoque*/
    button {
        background-color: black;
        color: white;
        padding: 0.625rem 3.125rem 0.625rem 3.125rem;
        margin: 40px 5px 40px 5px;
        border-radius: 1rem;
    }
    .button {
        background-color: darkgrey;
    }