# {
    box-sizing: border-box;
}

header {
    background-color: darkred;
    align-items: center;
    color: white;
    height: 50px;
    display: flex;
    font-family: calibri;
    }

    header > h1{
        margin: 0px 30px;
    }

    div > h2{
        text-align: start;
    }

    .item1 {
        display: grid;
        grid-template-columns:auto auto auto auto;
        justify-content: first baseline;
        grid-template-rows: auto auto;
        font-family: calibri;
    }
    
    .item1 > div {
        border: 1px solid black;
        padding: 5% 5% 50% 5%;
    }

    footer {
        background-color:darkred;
        color: white;
        height: 50px;
        justify-content: space-between;
        display: flex;
        font-family: calibri;
        padding: 2px 30px;
    
    }